deployment:
  role: data_plane
  role_data_plane:
    config_provider: yaml

apisix:
  node_listen: 9080
  enable_admin: true

plugins:
  - grpc-transcode
  - serverless-pre-function

# Forzamos a que no intente buscar etcd en absoluto
etcd:
  host: []